<div id="container">
  <div id="prev" class="sidebar">
    <a href="#" class="sidebar-video">
      <div class="sidebar-title">Sendung verpasst?</div>
      <%= image_tag @schedule_previous["VDO"] ? @schedule_previous["VDO"]["VTU"]["IUR"] : "ui/default.png", :size => "176x117" %>
      <h3><%= @schedule_previous["TIT"] %></h3>
      Ende: <%= @schedule_now["BAT"] ? "#{@schedule_now["BAT"]} Uhr" : "" %>
    </a>
  </div>

  <div id="current">
    <div id="video">
      <%= image_tag("ui/video.png") %>
      <a href="#" id="video-trigger" class="button">
        Video jetzt anschauen
      </a>
    </div>
    <div id="current-video">
      <div id="teaser-button">
        <%= image_tag @schedule_now["VDO"] ? @schedule_now["VDO"]["VTU"]["IUR"] : "ui/default.png", :size => "260x160" %>
      </div>
      <div id="description">
        <div id="nowon">Jetzt läuft:</div>
        <h1><%= @schedule_now["TIT"] %></h1>
        <h2>
          <%= @schedule_now["BAT"] ? @schedule_now["BAT"] : "" %> - <%= @schedule_next["BAT"] ? "#{@schedule_next["BAT"]} Uhr" : "" %>
        </h2>
        <p>
          <%= @schedule_now["DSS"] ? @schedule_now["DSS"] : @schedule_now["DTE"] %>
        </p>
      </div>
    </div>
    <div id="comment-timeline">
      <%= image_tag("ui/comment-stamps.png") %>
    </div>
  </div>
  
  <div id="next" class="sidebar">
    <a href="#" class="sidebar-video">
      <div class="sidebar-title">Nächste Sendung:</div>
      <%= image_tag @schedule_next["VDO"] ? @schedule_next["VDO"]["VTU"]["IUR"] : "ui/default.png", :size => "176x117" %>
      <h3><%= @schedule_next["TIT"] %></h3>
      Beginn: <%= @schedule_next["BAT"] ? "#{@schedule_next["BAT"]} Uhr" : "" %>
    </a>
  </div>
</div>