<div id="container">
  <div id="wrapper">
    <div id="background-center"></div>
    <div id="column_left" class="column sidebar">
      <a href="#" class="sidebar-video">
        <div class="sidebar-title">Sendung verpasst?</div>
        <% previous_image_path = (@schedule_previous["IMG"] ? @schedule_previous["IMG"]["IUR"] : "ui/default.png") %>
        <div class="sidebar-image" style="background-image: url(<%= image_path(previous_image_path) %>); background-size: cover; width: 176px; height: 117px"></div>
        <h3><%= @schedule_previous["TIT"] %></h3>
      </a>
    </div>
    <div id="column_center" class="column">
      <div id="video-minified">
        <%= image_tag("ui/video-teaser.jpg", :size => "59x36") %>
        <h1>Das Coolness-Diktat</h1>
        <h2>
          <%= @schedule_now["BAT"] ? @schedule_now["BAT"] : "" %> - <%= @schedule_next[1]["BAT"] ? "#{@schedule_next[1]["BAT"]} Uhr" : "" %>
        </h2>
        <a href="#" id="info-trigger-minified" class="button-square"></a>
        <a href="#" id="video-trigger-minified" class="button-square"></a>
      </div>
      <div id="infocard">
        <div id="teaser">
          <%= image_tag("ui/video-teaser.jpg") %>
          <a href="#" id="video-trigger">Video abspielen</a>
        </div>
        <div id="description">
          <span>Jetzt läuft:</span>
          <h1>Das Coolness-Diktat</h1>
          <h2>
            <%= @schedule_now["BAT"] ? @schedule_now["BAT"] : "" %> - <%= @schedule_next[1]["BAT"] ? "#{@schedule_next[1]["BAT"]} Uhr" : "" %>
          </h2>
          <p>
            Die Produkte der Firma Apple, seien es Computer oder Telefone, vermitteln den Käufern beziehungsweise Nutzern eine bestimmte Lebensart  und die Zugehörigkeit zu einer besonderen - oft auch als elitär bezeichneten - Gruppe der Gesellschaft, die äußerst anziehend wirkt. <a href="#">mehr...</a>
            <!--
            Durch den Kauf eines Macintoshs, eines iPhones oder iPods fühlt sich der Verbraucher automatisch auf einer Stufe mit Künstlern und anderen Antikonformisten. Wie hat es die Firma Apple, die in einer bescheidenen Garage in Kalifornien ihren Anfang nahm und zu einem weltweit agierenden Konzern  aufgestiegen ist, geschafft, die Kunden selbst zu den effizientesten Missionaren der Marke zu machen? Sogar das Logo - ein angebissener  Apfel - steht für Rebellion und Freiheit. Apple scheint zu einer Art neuer Religion oder Weltanschauung geworden zu sein. Und ihr Guru   heißt Steve Jobs, der vor kurzem gestorbene geniale Erfinder der kalifornischen Marke.
            -->
          </p>
        </div>
      </div>
      <div id="video">
        <div id="player"></div>
      </div>

      <div id="info-bar">
        <div id="count">Loading members count …</div>
      </div>
    
      <div id="comment-entries">
      </div>
    
      <ul id="members"></ul>
    </div>
    
    <div id="column_right" class="column sidebar">
      <a href="#" class="sidebar-video">
        <div class="sidebar-title">Nächste Sendungen:</div>
        <% next_image_path = (@schedule_next[1]["IMG"] ? @schedule_next[1]["IMG"]["IUR"] : "ui/default.png") %>
        <div class="sidebar-image" style="background-image: url(<%= image_path(next_image_path) %>); background-size: cover; width: 176px; height: 117px"></div>
        <%= @schedule_next[1]["BAT"] ? "#{@schedule_next[1]["BAT"]} Uhr" : "" %>
        <h3><%= @schedule_next[1]["TIT"] %></h3>
      </a>
      
      <% @schedule_next.drop(2).each do |schedule_after_next| %>
        <a href="#" class="sidebar-video sidebar-video-minified">
          <div class="bookmark"></div>
          <%= schedule_after_next["BAT"] ? "#{schedule_after_next["BAT"]} Uhr" : "" %>
          <h3><%= schedule_after_next["TIT"] %></h3>
        </a>
      <% end %>
    </div>
  </div>
  <div id="footer">
      <%= link_to "Login", login_path, id: "login" %>
      <div id="comment_form">
        <input type="text" name="log_body" value="" id="log_body" autocomplete="off" />
        <button id="stamp_comment"></button>
        <button id="send_comment">Senden</button>
      </div>
  </div>
</div>