<!DOCTYPE html>
<html>
<head>
  <title>Hackday</title>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <script src="http://js.pusher.com/1.12/pusher.min.js" type="text/javascript"></script>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, target-densitydpi=device-dpi, user-scalable=no" />
  <meta name="apple-mobile-web-app-capable" content="yes">
</head>
<body class="ui">
  
  <% flash.each do |name, message| %>
    <% message_type = (name == :notice ? "success" : name) %>
    <div>
      <%= message.html_safe %>
    </div>
  <% end %>
  
  <p>
    <% if current_user.present? %>
      User:
      logged in as: <%= current_user.email %>, <%= link_to 'logout', logout_path %>
    <% else %>
      <%= link_to 'login', login_path %>
    <% end %>
  </p>
  
  <%= yield %>
  
</body>
</html>
