<!DOCTYPE html>
<html>
<head>
  <title>Hackday</title>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  
  <% flash.each do |name, message| %>
    <% message_type = (name == :notice ? "success" : name) %>
    <div>
      <%= message.html_safe %>
    </div>
  <% end %>
  
  <%= yield %>
  
  <hr />
  
  <p>
    <% if current_user.present? %>
      User:
      logged in as: <%= current_user.email %>, <%= link_to 'logout', logout_path %>
    <% else %>
      <%= link_to 'login', login_path %>
    <% end %>
  </p>
  
  <ul>
    <li>
      <%= link_to "root", root_path %>
    </li>
    <li>
      <%= link_to "home", home_path %>
    </li>
    <li>
      <%= link_to "view all logs", logs_path %>
    </li>
  </ul>

</body>
</html>
